/* Design colors: #222831 #393E46 #00ADB5 #EEEEEE */

/***************TAG SELECTORS***************/
a {
    color: #44dae2;
    /* color: #00ADB5; */
    text-decoration: none;
}

a:hover {
    /* transform: scale(1.05); */
    color: #a5e1e6;
}

body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #00ADB5;
    font-weight: 700;
}

/***************CLASS/ID SELECTORS***************/
.intro {
    /* margin: 14% auto 17%; */
    margin: 30vh auto 35vh;
}

.name {
    /* font-family: 'Sacramento'; */
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 5.5rem;
    font-weight: 300;
    margin-bottom: 4%;
}

.bio {
    font-size: 1.15rem;
    line-height: 2;
    margin: 10px auto 0px;
    width: 30%;
}

.timeline {
    background-color: #393E46;
    border-radius: 100%;
    margin: 30vh 23%;
}

.timeline-entry {
    /* height: 250px; */
    display: table;
    padding: 6%;
}

.timeline-entry h3, h4, h5 {
    margin: 0;
}

.timeline-title {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding: 4%;
    text-align: right;
}

.timeline-time {
    margin-top: 20px;
    display: block;
    font-weight: 500;
}

.timeline-description {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding: 4%;
    /* border-left: solid #222831ab 1px; */
    text-align: left;
}

.projects {
    margin: 30vh 20%;
}

.project-entry {
    margin: 10% 9%;
}

/* .project-title {
    margin-bottom: 1%;
} */

.project-description {
    line-height: 2;
    margin: 3%;
}

.project-img-left {
    border-radius: 100%;
    float: left;
    margin-right: 20px;
    height: 200px;
    width: 200px;
    /* margin-top: 3%; */
}

.project-img-right {
    border-radius: 100%;
    float: right;
    margin-left: 20px;
    height: 200px;
    width: 200px;
    /* margin-top: 3%; */
}

.project-img-left:hover, .project-img-right:hover {
    transform: scale(1.05);
}

.contact {
    background-color: #393E46;
    border-radius: 100%;
    display: inline-block;
    padding: 30px;
    margin-bottom: 2%;
}

.email {
    display: none;
    /* visibility: hidden; */
}

.img-link {
    height: 35px;
    margin: 0 8px 0 8px;
}

.img-link:hover {
    transform: scale(1.1);
}