/* Design colors: #222831 #393E46 #00ADB5 #EEEEEE */

/***************TAG SELECTORS***************/
a {
    color: #44dae2;
}

a:hover {
    /* transform: scale(1.05); */
    color: #94e1e6;
}

body {
    background-color: #222831;
    color: #EEEEEE;
    text-align: center;
}

h1 {
    color: #00ADB5;
}

h3 {
    color: #00ADB5
}

hr {
    /* border-color: #EEEEEE; */
    border-style: none none none none;
    /* border-width: 5px; */
    margin: 40px auto;
    /* width: 35%; */
}

/***************CLASS SELECTORS***************/

.name {
    font-family: 'Sacramento', cursive;
    font-size: 3.3rem;
    margin-bottom: 0;
}

.intro {
    font-family: 'Merriweather', serif;
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.timeline {
    background-color: #393E46;
    border-radius: 50%;
    display: inline-block;
    padding: 40px;
    position: relative;
}

.timeline-title {
    display: inline-block;
    height: 50px;
    width: 300px;
}

.timeline-description {
    display: inline-block;
    height: 50px;
    width: 300px;
}

.projects {
    margin: auto;
    width: 35%;
}

.projects-entry {
    height: 155px;
}

.project-img-left {
    border-radius: 100%;
    float: left;
    margin-right: 20px;
    height: 155px;
    width: 155px;
}

.project-img-left:hover {
    transform: scale(1.05);
}

.project-img-right {
    border-radius: 100%;
    float: right;
    margin-left: 20px;
    height: 155px;
    width: 155px;
}

.project-img-right:hover {
    transform: scale(1.05);
}

.projects-description {
    margin: auto;
}

.skills {
    background-color: #393E46;
    border-radius: 30%;
    margin: auto;
    padding: 30px;
}

.skills-left {
    width: 300px;
}

.skills-right {
    width: 300px;
}

.contact {
    background-color: #393E46;
    border-radius: 50%;
    display: inline-block;
    padding: 25px;
    font-family: 'Merriweather', serif;
}

.email {
    display: none;
    /* visibility: hidden; */
}

.img-link {
    height: 35px;
    margin: 0 8px 0 8px;
}

.img-link:hover {
    transform: scale(1.1);
}

/***************ID SELECTORS***************/